
html{ height: 100%;}
body {
  background: linear-gradient(rgb(121, 0, 255), rgb(20, 35, 255));
  color: #fff;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 2% 0;
  font-size:2vmin;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-align: left;
  text-shadow: 0.08em 0.08em 0.08em rgb(0 0 0 / 40%);
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  display: inline;
  text-transform: uppercase;
  padding-bottom: 10px;
  line-height: 1em;
  margin-top:4%;
  flex: 1 1 100%;
}

h2 {
  font-weight: 900;
  font-size: 2.8rem;
  color: #FFFFFF;
  text-align: left;
  letter-spacing: 1px;
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  display: inline;
  padding-bottom: 10px;
  line-height: 1em;
  margin-top:4%;
  flex: 1 1 100%;
}

a {
  text-decoration: none;
  color: #ffffff;
}


header{margin: 0 auto;
width:90%;
font-size: 1.75rem;}

Main {
  margin: 0 auto;
  width:90%;
  font-size: 1.75rem;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  gap: 2%;
}

.main-column{
flex: 1 1 40%;
}


.flex-row {
  display: flex;
  flex-flow: row wrap;
  gap: 2%;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
  gap: 2%;
}

img{
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  width:100%;
  height: auto;
  margin-top:4%;
}

.btn {
  margin-top:2%;
  flex: 1 1 30%;
  background-color: rgb(238, 17, 85);
  color: #fff;
  border: 2px solid rgb(0, 0, 0);
  transition: none 0s ease 0s;
  border-radius: 8px;
  padding: 0.3em 1em;
  font-size: 20px;
  line-height: 1.7em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  box-shadow: rgb(0 0 0) 10px 10px 0px 0px;
  display:flex;
  align-items:center;
  justify-content: center;

}

.btn:hover {
  background-color: #fff;
  color: #000;
  transition: all 300ms ease 0ms;
  transform: translate(6px, 6px);
    box-shadow: rgb(0 0 0) 4px 4px 0px 0px;
}


.label{margin-left:10px;}

.btn i{font-size: 2em;
}

.spt{
background-color: #1DB954;
}
.ap{
background-color: #872ec4;
}
.link{
background-color:#0077B7;
}
.drib{background-color: #E84C88;}

.inst{background-color: #dd2a7b;}

@media screen and (min-width: 780px) {
main {flex-flow: column wrap;}
.main-column{flex: 1 1 100%;}
.flex-row {flex-flow: column wrap;}
.btn{flex: 1 1 100%;}
}

@media screen and (min-width: 992px) {
main {flex-flow: column wrap;}
.main-column{flex: 1 1 100%;}
.flex-row {flex-flow: column wrap;}
.btn{flex: 1 1 50%;}
}
